snippet div
	<div class="${1}">${2}</div>

snippet lipsum
	 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at blandit arcu. Maecenas euismod posuere convallis. Sed quis est neque. In consequat aliquet neque sed vulputate. Vestibulum sagittis nulla ut est rutrum pulvinar. Aenean a lectus tortor. Nulla facilisis sapien eu lacinia viverra. Fusce pretium justo nec eros consequat sollicitudin. Ut vitae lacus ut erat cursus auctor eu in lacus. Nulla facilisi. Vivamus vitae nisl quam. Duis felis augue, tincidunt vel ex in, feugiat fringilla quam. Mauris aliquet, nibh eget gravida eleifend, mi tellus placerat velit, in vestibulum diam lorem et mi. Vivamus lectus augue, hendrerit in arcu maximus, aliquam ultrices ex.
	 Vivamus sed feugiat nibh. Fusce blandit lorem sit amet dolor sollicitudin aliquet. Mauris malesuada euismod justo eu suscipit. Aenean ut lectus ac tortor hendrerit aliquet. Praesent vehicula justo ut nisl convallis, vitae pretium enim tristique. Sed pulvinar rutrum nibh, sed ornare lorem pulvinar hendrerit. Mauris tristique ut libero vel ultrices. Maecenas vitae turpis et quam iaculis vestibulum a a sem. Nulla vitae metus tortor. Integer lorem velit, hendrerit consectetur venenatis vel, elementum eu nunc. Quisque ullamcorper lobortis maximus. Etiam blandit dapibus velit, ut hendrerit ante dignissim id. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec at semper eros. Duis at diam vitae est tempus fringilla. Integer convallis orci quis velit fermentum cursus.
	 Etiam sed lectus nec ligula venenatis tristique. Ut vitae nunc a metus pretium lacinia at id lectus. Sed dolor diam, tempus eget condimentum vitae, placerat at magna. Pellentesque suscipit risus quis odio aliquam molestie. Nunc aliquet tortor quis erat laoreet vulputate. Praesent in quam id neque malesuada maximus vitae eget nulla. Nulla ex nibh, faucibus vitae quam in, efficitur vehicula odio. </p>
