extends html
extends tailwind

snippet vinit
	<template>
	</template>
	<script setup lang="ts">
	</script>


snippet template
	<template>
	${1}
	</template>
snippet script
	<script setup lang="ts">
	${1}
	</script>
