extends html
extends tailwind
extends javascript

snippet vinit
	<template>
	</template>
	<script setup lang="ts">
	</script>


snippet template
	<template>
	${1}
	</template>
snippet script
	<script setup lang="ts">
	${1}
	</script>

snippet icomp
	import ${1} from '@/components/${2}'

snippet ilib
	import { ${1} } from '@/${2}'
